 .card-header {
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    background-color: lightskyblue;};
    /* color: red; */
    /* border: 50px; */
    /* border-color: red */

/* .card { */
    /* margin-left: 25px; */
    /* margin-right: 25px; */
    /* color: red; */
    /* border: 50px; */
    /* border-color: red */ 



.vidoeGame {
    border: 25px;
    border-color: black;
}

