body {
    background-image: url("https://images.unsplash.com/photo-1551103782-8ab07afd45c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    align-content: center;
    background-size: 100%
}


instructions {
    margin: 10px;
    color: white;
}

.btn {
    margin: 10px;
}

p {
    color: white;
}